#block-product-block {
				position:relative;
    margin: 0px 0px 0px 10px !important;
    padding: 0px !important;
}

#block-product-block #autocomplete {
				left:114px;
}
#block-product-block #autocomplete ul li {
    border-top: 1px solid #E3E3E3;
    color: #B9B9B9;
    padding: 5px;
}

html.js #block-product-block input.form-autocomplete {
    background-position: 99% 6px;
}

html.js #block-product-block input.form-autocomplete.throbbing {
    background-position: 99% -14px;
}


#block-product-block .form-item {
    float: left;
    margin-right: 15px;
}

#block-product-block .form-item label {
    float: left;
    font-size: 15px;
    margin-top: 7px;
    margin-right: 5px;
}

#block-product-block .form-item .form-select {
    margin: 4px 0;
    padding: 4px;
}


#block-product-block .form-submit {
    margin: 9px 0px;
}

#block-product-block-2 #edit-submit-1 {
    margin-top: 10px;
}

#block-product-block-2 select {
    width: 160px;
}


#block-product-block-2,
#block-product-block-featured {
    background-color: #EF9F20;
    color: #FFFFFF;
    padding: 20px;
}

#block-product-block-2 h3,
#block-product-block-featured h3 {
    padding-bottom: 20px;
    color: #fff;
    border-bottom: solid 1px #fff;
}

#block-product-block-2 h3 {
    margin-bottom: 20px;
}

#block-product-block-featured ol,
#block-product-block-featured ol li {
    clear: both;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#block-product-block-featured ol li {
    padding-top: 20px;
}

#block-product-block-featured ol li img {
    margin-right: 20px;
    float: left;
}

#block-product-block-featured ol li a {
    color: #555555;
}

#block-product-block-featured ol li a:hover {
    color: #555555;
    text-decoration:underline;
}


