#block-product-block {
    margin: 0px 0px 0px 10px !important;
    padding: 0px !important;
}

#block-product-block .form-item {
    float: left;
    margin-right: 15px;
}

#block-product-block .form-item label {
    float: left;
    font-size: 15px;
    margin-top: 7px;
    margin-right: 5px;
}

#block-product-block .form-item .form-select {
    margin: 4px 0;
    padding: 4px;
}


#block-product-block .form-submit {
    margin: 9px 0px;
}
